<!DOCTYPE html>
<html>
<head>
<style>
body {
    width:100%;
    background: linear-gradient(to top, rgba(89, 85, 85, 0.5)50%,rgba(87, 84, 84, 0.5)50%),;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
h2 {
  text-align: center;
}
p{
  text-align: center;
}
</style>
</head>
<body>

<h2>Why Inventory Managment System for Retailers</h2>

<p><b>An Inventory Managment System for Retailers is a software or application that helps retailers to send mail to vendors automatically once product in his warehouse reaches a certain range</b></p>

</body>