<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory Managment System for Retailers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="menu">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="login">LOGIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Inventory Managment System for Retailers     </h1><br>
                <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Manage, Track, Categorize<br>Manage the range of products in your warehouse!</p>
            </div>
        </div>
    </body>